* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
  color: #334257;
}

h1 {
  border-bottom: solid 1px #334257;
  padding: 1rem;
  width: 70%;
  max-width: 1500px;
  text-align: center;
  margin: 2rem auto;
}
.choices {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1000px;
  margin: 4rem auto;
}
.choiceContainer {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  width: 250px;
  height: 250px;
  padding: 1rem;
  margin: 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}
.choiceContainer p {
  font-size: 20px;
  font-weight: 700;
}
.backBtn,
.doneBtn,
.resBtn {
  border: none;
  padding: 10px 15px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  background-color: #035397;
  border-radius: 5px;
}

.backBtn {
  left: 40px;
  top: 40px;
}
.doneBtn,
.resBtn {
  right: 40px;
  top: 40px;
}
.backBtn:hover,
.doneBtn:hover,
.resBtn:hover {
  background-color: #096cc2;
}

.addBtn {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  color: #035397;
  position: fixed;
  top: 50%;
  right: 50px;
}

.card,
.qCard {
  width: 70vw;
  min-height: 250px;
  background-color: #fff;
  border-left: 8px solid #035397;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin: 1rem auto;
  padding: 0.5rem 0;
  position: relative;
}
.card > .question {
  width: 70%;
  margin: 1.5rem;
  margin-bottom: 0%;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #035397;
  background-color: rgb(250, 250, 250);
  padding: 0.5rem;
}
.card > .question:hover,
.answer input:hover {
  background-color: rgb(245, 245, 245);
}
.answersContainer {
  margin: 1.5rem;
}

.answer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.answer > input {
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #035397;
  padding: 0.5rem;
}
.markCircle {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #bdbaba;
  margin-right: 5px;
}
.correctAnswer {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.correctAnswer select {
  font-size: inherit;
  padding: 2px;
}
.correctAnswer p {
  margin-right: 10px;
}

.card .deleteBtn {
  color: #035397;
  cursor: pointer;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.saveText {
  text-align: center;
  width: 70%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  background-color: rgb(250, 250, 250);
  font-size: 20px;
  border-radius: 5px;
  padding: 1rem;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.show {
  opacity: 1;
}
.qCard p {
  font-weight: 500;
  margin-left: 1rem;
  font-size: 25px;
}
.qCard ul li {
  list-style-type: none;
  font-size: 20px;
  margin: 0.7rem 0;
  cursor: pointer;
}

.qCard ul li i {
  padding: 0%;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 200ms ease-in-out;
}
.qCard ul li.selected i {
  background-color: rgb(65, 118, 218);
}
@media (max-width: 700px) {
  .choices {
    flex-direction: column;
  }
  .card .question {
    width: 90%;
  }
  .addBtn {
    right: 10px;
    transform: scale(0.8);
  }
  .deleteBtn {
    transform: scale(0.8);
    right: 10px;
    bottom: 10px;
  }
}
